<% form_for @ad, :html => {:multipart => true} do |f| %>
<%= form_error_messages(@ad.errors) %>

<table class="form">
  <tr>
    <td class="label"><%= f.label :name, t('title') %></td>
    <td class="field"><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :description, t('description') %></td>
    <td class="field"><%= f.text_area :description %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :width, t('width') %></td>
    <td class="field"><%= f.text_field :width %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :height, t('height') %></td>
    <td class="field"><%= f.text_field :height %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :target_url, t('.target_url') %></td>
    <td class="field"><%= f.text_field :target_url %></td>
  </tr>
  <tr>
    <td class="label"><%= t('.track_options') %></td>
    <td><%= f.check_box :track_clicks %> <%= f.label :track_clicks, t('.track_clicks') %> &nbsp; <%= f.check_box :track_views %> <%= f.label :track_views, t('.track_views') %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :expire, t('expiration') %></td>
    <td><%= f.check_box :expire, :id => "expire-chk" %> <%= f.label :expire, t('.expire') %></td>
  </tr>
  <tr <%= hide_unless_set_to_expire(@ad.expire) %> class="expiration-options">
    <td class="label"><%= f.label :expire_at, t('.expiration_options') %></td>
    <td><%= f.datetime_select :expire_at %></td>
  </tr>
  <tr <%= hide_unless_set_to_expire(@ad.expire) %> class="expiration-options">
    <td class="label"><%= f.label :max_clicks_count, t('.max_clicks_count').html_safe %></td>
    <td class="field"><%= f.text_field :max_clicks_count %></td>
  </tr>
  <tr <%= hide_unless_set_to_expire(@ad.expire) %> class="expiration-options">
    <td class="label"><%= f.label :max_views_count, t('max_views_count').html_safe %></td>
    <td class="field"><%= f.text_field :max_views_count %></td>
  </tr>
  <% unless new_record? %>
  <tr>
    <td class="label"><%= f.label :status_id, t('.status') %></td>
    <td><%= f.select :state_id, @states.map {|s| [s.title, s.id]}, :prompt => t('.select_state') %></td>
  </tr>
  <% end %>
  <% if current_user.is_admin? %>
  <tr>
    <td class="label"><%= f.label :user_is, t('belongs_to') %></td>
    <td><%= f.select :user_id, @users.map {|u| [u.info, u.id]}, :prompt => t('.select') %></td>
  </tr>
  <% end %>
  <tr>
    <td class="label"><%= t('.content').html_safe %></td>
    <td>
    <% unless new_record? %>
      <%= link_to @ad.ad_file_name, @ad.ad.url %> <%= link_to "&times;".html_safe %>
    <% else %>
      <%= f.file_field :ad %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit params[:action] == 'edit' ? t('update') : t('create') %></td>
  </tr>
</table>
<% end %>