<div id="submenu">
  <%= link_to t('new_ad'), new_ad_path %>
</div>

<h2><%= t('ads_title') %></h2>

<table class="list">
  <tr>
    <th><%= t('nu') %></th>
    <th><%= t('title') %></th>
	  <th><%= t('status') %></th>
    <th><%= t('last_update') %></th>
  </tr>

  <% @ads.each do |ad| %>
  <tr>
    <td><strong><%= ad.id %></strong></td>
    <td><%= link_to ad.name, ad_path(ad) %></td>
    <td><%= ad.state.title %></td>
    <td><%= l ad.updated_at, :format => :short %></td>
  </tr>
  <% end %>
</table>