<h2><%= t('.ad') %></h2>

<table class="cart">
  <tr>
    <td class="title"><%= t('title') %></td>
    <td><%= @ad.name %></td>
  </tr>
  <tr>
    <td class="title"><%= t('dimensions') %></td>
    <td><%= @ad.width.to_s %> &times; <%= @ad.height.to_s %>px</td>
  </tr>
  <tr>
    <td class="title"><%= t('expiration') %></td>
    <td><%= expire_status_message(@ad) %></td>
  </tr>
  <tr>
    <td class="title"><%= t('.tracking_status') %></td>
    <td><%= tracking_status_message(@ad) %></td>
  </tr>
  <tr>
    <td class="title"><%= t('.views_clicks_count') %></td>
    <td><%= @ad.views_count.to_s %>/<%= @ad.clicks_count.to_s %></td>
  </tr>
  <tr>
    <td class="title"><%= t('.file_info') %></td>
    <td><%= @ad.ad_content_type %> [<%= @ad.ad_file_size/1024 %>kb]</td>
  </tr>
  <tr>
    <td class="title"></td>
    <td><%= link_to @ad.ad_file_name, @ad.ad.url %></td>
  </tr>
</table>

<%= link_to t('edit'), edit_ad_path(@ad), :class => "bottom-act" %>