<h2>Profil Düzenle</h2>

<%= form_for @user do |f| %>
<table class="form">
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :firstname, "İsim" %></td>
    <td class="field"><%= f.text_field :firstname %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :lastname, "Soyisim" %></td>
    <td class="field"><%= f.text_field :lastname %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :email, "E-posta" %></td>
    <td class="field"><%= f.email_field :email %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :password, "<p>Şifre<br /><span class='light'>Değiştirmek istemiyorsanız boş bırakın.</span></p>".html_safe %></td>
    <td class="field"><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :password_confirmation, "<p>Şifre Doğrulama<br /><span class='light'>Değiştirmek istemiyorsanız boş bırakın.</span></p>".html_safe %></td>
    <td class="field"><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :phone, "Telefon" %></td>
    <td class="field"><%= f.text_field :phone %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :company, "Şirket" %></td>
    <td class="field"><%= f.text_field :company %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.check_box :is_admin %> <%= f.label :is_admin, "Yönetici Hesabı." %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit 'Güncelle' %></td>
  </tr>
</table>
<% end %>