<div id="submenu">
  <%= link_to t('new_user'), new_user_path %>
</div>

<h2><%= t('users_title') %></h2>

<table class="list">
  <tr>
    <th><%= t('nu') %></th>
    <th><%= t('firstname') + ", " + t('lastname') %></th>
	  <th><%= t('email') %></th>
    <th><%= t('logins_count') %></th>
    <th><%= t('last_login_at') %></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><strong><%= user.id %></strong></td>
    <td><%= user.name %></td>
    <td><%= link_to user.email, user %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.last_sign_in_at == nil ? "&mdash;".html_safe : l(user.last_sign_in_at, :format => :short) %></td>
  </tr>
  <% end %>
</table>