<h2><%= t('.user') %></h2>
<table class="cart">
  <tr>
    <td class="title"><%= t('firstname') %>, <%= t('lastname') %></td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td class="title"><%= t('company') %></td>
    <td><%= @user.company %></td>
  </tr>
  <tr>
    <td class="title"><%= t('phone') %></td>
    <td><%= @user.phone %></td>
  </tr>
  <tr>
    <td class="title"><%= t('email') %></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td class="title"><%= t('.owner') %></td>
    <td>
      <ul>
      <% @user.sites.each do |site| %>
        <li><%= link_to site.name, site_path(site) %></li>
      <% end %>
      </ul>
    </td>
  </tr>
</table>

<table id="user-statics">
  <tr>
    <th><%= t('account_created') %></th>
    <th><%= t('last_update') %></th>
    <th><%= t('logins_count') %></th>
    <th><%= t('last_login_at') %></th>
    <th><%= t('current_login')%></th>
  </tr>

  <tr>
    <td><%= l(@user.created_at, :format => :short) %></td>
    <td><%= l(@user.updated_at, :format => :short) %></td>
    <td><%= @user.sign_in_count %></td>
    <td><%= @user.last_sign_in_at == nil ? "&mdash;".html_safe : l(@user.last_sign_in_at, :format => :short) %></td>
    <td><%= @user.current_sign_in_at == nil ? "&mdash;".html_safe : l(@user.current_sign_in_at, :format => :short) %></td>
  </tr>
</table>

<%= link_to t('edit'), edit_user_path(@user), :class => "bottom-act" %>