<div id="login">
<table class="login" style="display: none;">
<%= form_tag new_user_session_path do -%>
  <tr>
    <td class="label"><%= label :user, :email, "E-mail" %></td>
    <td class="field"><%= text_field :user, :email %></td>
  </tr>
  <tr>
    <td class="label"><%= label :user, :password, "Password" %></td>
    <td class="field"><%= password_field :user, :password %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= check_box :user, :remember_me %> <%= label :user, :remember_me, "Remember me." %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Login" %> <span><%= link_to "Forgot Password", "#", :class => "forgot-password" %></span></td>
  </tr>
<% end -%>
</table>

<table class="forgot-password">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <tr>
    <td></td>
    <td>
      <h2>Forgot Password</h2>
      <p><%= devise_error_messages! %></p>
    </td>
  </tr>
  <tr>
    <td class="label"><%= f.label :email, "E-mail" %></td>
    <td class="field"><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit "Send Instructions" %> <span><%= link_to "Cancel", "#", :class => "login" %></span></td>
  </tr>
<% end -%>
</table>
</div>