<div id="header">
  <div id="logo">
    <h1><%= link_to "<span>AdBase</span>".html_safe, dashboard_path %></h1>
  </div>
  <div id="menu">
    <ul id="nav">
      <li><%= link_to t('dashboard_title'), dashboard_path %></li>
      <li><%= link_to t('sites_title'), sites_path %></li>
      <li><%= link_to t('zones_title'), zones_path %></li>
      <li><%= link_to t('ads_title'), ads_path %></li>
      <% if current_user.is_admin? %>
        <li><%= link_to t('users_title'), users_path %></li>
      <% else %>
        <li><%= link_to t('profile'), profile_path %></li>
      <% end %>
      <li><%= link_to t('logout'), destroy_user_session_path %></li>
    </ul>
  </div>
</div>