<div id="header">
  <div id="logo">
    <h1><%= link_to "<span>AdBase</span>".html_safe, dashboard_path %></h1>
  </div>
  <div id="menu">
    <ul id="nav">
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Sites", sites_path %></li>
      <li><%= link_to "Zones", zones_path %></li>
      <li><%= link_to "Ads", ads_path %></li>
      <% if current_user.is_admin? %>
        <li><%= link_to "Users", users_path %></li>
      <% else %>
        <li><%= link_to "Profile", profile_path %></li>
      <% end %>
      <li><%= link_to "Logout", destroy_user_session_path %></li>
    </ul>
  </div>
</div>