<div id="login">
<%= form_tag new_user_session_path do -%>
<table class="login">
  <tr>
    <td class="label"><%= label :user, :email, "E-posta" %></td>
    <td class="field"><%= text_field :user, :email %></td>
  </tr>
  <tr>
    <td class="label"><%= label :user, :password, "Şifre" %></td>
    <td class="field"><%= password_field :user, :password %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= check_box :user, :remember_me %> <%= label :user, :remember_me, "Bu bilgisayarda beni hatırla." %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Giriş Yap" %> <span><%= link_to "Şifremi Unuttum", "#", :class => "forgot-password" %></span></td>
  </tr>
</table>
<% end -%>

<%= form_tag user_password_path do -%>
<table class="forgot-password" style="display: none;">
  <tr>
    <td></td>
    <td>
      <h2>Şifremi Unuttum</h2>
      <p>Sıfırlamak için gerekli bilgileri e-posta adresinize gönderin.</p>
    </td>
  </tr>
  <tr>
    <td class="label"><%= label :user, :email, "E-posta" %></td>
    <td class="field"><%= text_field :user, :email %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Şifremi Sıfırla" %> <span><%= link_to "Vazgeç", "#", :class => "login" %></span></td>
  </tr>
</table>
<% end -%>

</div>