<div id="login">
<table class="login">
<%= form_tag new_user_session_path do -%>
  <tr>
    <td class="label"><%= label :user, :email, t('email') %></td>
    <td class="field"><%= text_field :user, :email %></td>
  </tr>
  <tr>
    <td class="label"><%= label :user, :password, t('password') %></td>
    <td class="field"><%= password_field :user, :password %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= check_box :user, :remember_me %> <%= label :user, :remember_me, t('remember_me') %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag t('login') %> <span><%= link_to t('forgot_password'), "#", :class => "forgot-password" %></span></td>
  </tr>
<% end -%>
</table>
<%= render :partial => 'devise/sessions/forgot_password' %>
</div>