<%= form_for @zone do |f| %>
<%= form_error_messages(@zone.errors) %>

<table class="form">
  <tr>
    <td class="label"><%= f.label :name, t('title') %></td>
    <td class="field"><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :width, t('width') %></td>
    <td class="field"><%= f.text_field :width %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :height, t('height') %></td>
    <td class="field"><%= f.text_field :height %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :site_id, t('.found_in') %></td>
    <td><%= f.select :site_id, @sites.map {|s| [s.name, s.id]}, :prompt => t('.choose_site'), :selected => params[:site_id].present? ? params[:site_id] : @zone.site_id %></td>
  </tr>
  <% if @ads.present? and @ads.length > 1 %>
  <tr>
    <td class="label"><%= f.label :cycle, t('.cycle_ads_with_tip').html_safe %></td>
    <td><%= f.check_box :cycle %></td>
  </tr>
  <% end %>
  <% unless new_record? %>
  <tr>
    <td class="label"><%= t('.active_ads') %></td>
    <td>
      <ul>
      <% if @ads.present? %>
        <%= f.fields_for :zone_ads do |zone_ad| -%>
        <li>
          <%= zone_ad.select :ad_id, @ads.map {|a| [a.name, a.id]}, :prompt => t('.choose_ad') %>
          <% unless zone_ad.object.new_record? %>
            <%= zone_ad.check_box :_destroy %> <%= zone_ad.label :_destroy, t('remove') %>
          <% end %>
        </li>
        <% end -%>
      <% else %>
        <li><%= t('.not_found_any_ads') %></li>
        <li><%= link_to t('.add_one'), new_ad_path, :class => "act" %></li>
      <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><%= f.submit params[:action] == 'edit' ? t('update') : t('create') %></td>
  </tr>
</table>
<% end %>