<div id="submenu">
  <%= link_to t('new_zone'), new_zone_path %>
</div>

<h2><%= t('zones_title') %></h2>

<table class="list">
  <tr>
    <th><%= t('nu') %></th>
    <th><%= t('title') %></th>
    <th><%= t('.site') %></th>
	  <th><%= t('created_at') %></th>
  </tr>

  <% @zones.each do |zone| %>
  <tr>
    <td><strong><%= zone.id %></strong></td>
    <td><%= link_to zone.name, zone %></td>
    <td><%= zone.site.name %></td>
    <td><%= l zone.created_at, :format => :short %></td>
  </tr>
  <% end %>
</table>