<h2>Zone Details</h2>

<table class="cart">
  <tr>
    <td class="title">Title</td>
    <td><%= @zone.name %></td>
  </tr>
  <tr>
    <td class="title">Site</td>
    <td><%= link_to @zone.site.name, site_path(@zone.site_id) %></td>
  </tr>
  <% if current_user.is_admin? %>
  <tr>
    <td class="title">User</td>
    <td><%= link_to @zone.user.name, user_path(@zone.user) %></td>
  </tr>
  <% end %>
  <tr>
    <td class="title">Dimensions</td>
    <td><%= @zone.width.to_s %> &times; <%= @zone.height.to_s %>px</td>
  </tr>
  <% if @zone.ads.length > 1 %>
  <tr>
    <td class="title">Cycle Ads</td>
    <td><%= @zone.cycle ? "Serving multiple ads in random order." : "Serving first ad found." %></td>
  </tr>
  <% end %>
  <% if @zone.ads.present? %>
  <tr>
    <td class="title">Active Ads</td>
    <td>
      <ul>
      <%  @zone.ads.each do |ad| %>
      <li><%= link_to ad.name, ad %></li>
      <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="title">Publish &amp; Track Code</td>
    <td>
      <textarea id="code">
<div class="adbase">
<script type="text/javascript">
  //<![CDATA[
  AdBase.ad('<%= @zone.uuid %>');
  //]]>
</script>
</div></textarea>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "Düzenle", edit_zone_path(@zone), :class => "bottom-act" %>