<h2><%= t('.zone') %></h2>

<table class="cart">
  <tr>
    <td class="title"><%= t('title') %></td>
    <td><%= @zone.name %></td>
  </tr>
  <tr>
    <td class="title"><%= t('.site') %></td>
    <td><%= link_to @zone.site.name, site_path(@zone.site_id) %></td>
  </tr>
  <tr>
    <td class="title"><%= t('dimensions') %></td>
    <td><%= @zone.width.to_s %> &times; <%= @zone.height.to_s %>px</td>
  </tr>
  <% if @zone.ads.length > 1 %>
  <tr>
    <td class="title"><%= t('.cycle_ads') %></td>
    <td><%= @zone.cycle ? t('.serving_multiple_ads') : t('.serving_first_ad') %></td>
  </tr>
  <% end %>
  <% if @zone.ads.present? %>
  <tr>
    <td class="title"><%= t('.active_ads') %></td>
    <td>
      <ul>
      <%  @zone.ads.each do |ad| %>
      <li><%= link_to ad.name, ad %></li>
      <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="title"><%= t('.publish_track_code').html_safe %></td>
    <td>
      <textarea class="code">
<script type="text/javascript">
  //<![CDATA[
  AdBase.ad('<%= @zone.uuid %>');
  //]]>
</script>
</textarea>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to t('edit'), edit_zone_path(@zone), :class => "bottom-act" %>