<%= form_for @site do |f| %>
<%= form_error_messages(@site.errors) %>

<table class="form">
  <tr>
    <td class="label"><%= f.label :name, t('title') %></td>
    <td class="field"><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label :url, t('url') %></td>
    <td class="field"><%= f.text_field :url %></td>
  </tr>
  <% if current_user.is_admin? %>
  <tr>
    <td class="label"><%= t('owners') %></td>
    <td>
      <ul>
        <%= f.fields_for :user_sites do |user_site| -%>
        <li>
          <%= user_site.select :user_id, @users.map {|a| [a.info, a.id]}, :prompt => t('.choose_user'), :include_blank => true %>
          <% unless user_site.object.new_record? %>
            <%= user_site.hidden_field :_destroy %> <%= link_to t('remove').html_safe, "#", :class => "remove-field" %>
          <% end %>
        </li>
        <% end -%>
      </ul>
    </td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><%= f.submit params[:action] == 'edit' ? t('update') : t('create') %></td>
  </tr>
</table>
<% end %>