<% if current_user.is_admin? -%>
<div id="submenu">
  <%= link_to t('new_site'), new_site_path %>
</div>
<% end -%>

<h2><%= t('sites_title') %></h2>

<table class="list">
  <tr>
    <th><%= t('nu') %></th>
    <th><%= t('title') %></th>
    <th><%= t('url') %></th>
	  <th><%= t('created_at') %></th>
  </tr>

  <% @sites.each do |site| %>
  <tr>
    <td><strong><%= site.id %></strong></td>
    <td><%= link_to site.name, site %></td>
    <td><%= site.url %></td>
    <td><%= l site.created_at, :format => :short %></td>
  </tr>
  <% end %>
</table>