<div id="submenu">
  <%= link_to "New Site", new_site_path %>
</div>

<h2>Sites</h2>

<table class="list">
  <tr>
    <th>No#</th>
    <th>Title</th>
    <th>URL</th>
	  <th>Created</th>
  </tr>

  <% @sites.each do |site| %>
  <tr>
    <td><strong><%= site.id %></strong></td>
    <td><%= link_to site.name, site %></td>
    <td><%= site.url %></td>
    <td><%= l site.created_at, :format => :short %></td>
  </tr>
  <% end %>
</table>