<h2><%= t('.site') %></h2>
<table class="cart">
  <tr>
    <td class="title"><%= t('title') %></td>
    <td><%= @site.name %></td>
  </tr>
  <tr>
    <td class="title"><%= t('url') %></td>
    <td><%= @site.url %></td>
  </tr>
  <% if current_user.is_admin? %>
  <tr>
    <td class="title"><%= t('owners') %></td>
    <td>
      <ul>
        <% @site.users.each do |user| -%>
        <li><%= link_to user.name, user_path(user) %></li>
        <% end -%>
      </ul>
    </td>
  </tr>
  <% end %>
  <tr>
    <td class="title"><%= t('zones_title') %></td>
    <td>
      <ul>
      <% if @site.zones.length > 0 -%>
        <% @site.zones.each do |zone| -%>
        <li><%= link_to zone.name, zone %></li>
        <% end -%>
        <li><%= link_to t('.add_another'), new_zone_path(:site_id => @site), :class => "act" %></li>
      </ul>
      <% else -%>
        <li><%= t('.no_zones_found') %></li>
        <li><%= link_to t('.add_one'), new_zone_path(:site_id => @site) %></li>
      <% end -%>
      </ul>
    </td>
  </tr>
</table>

<% if current_user.is_admin? -%>
<%= link_to t('edit'), edit_site_path(@site), :class => "bottom-act" %>
<% end %>