<!DOCTYPE html>
<html>
<head>
  <title>AdBase</title>
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag 'jquery-1.3.2.min', :cache => true %>
  <%= javascript_include_tag 'application', :cache => true %>
  <%= csrf_meta_tag %>  
</head>
<body>
<div id="wrapper">
<%= render :partial => 'shared/header' %>

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :class => [key], :id => "message" %>
<% end %>

<div id="content">
<%= yield %>
</div>
</div>
</body>
</html>
